<h1>The route "{{ route }}" led you here.</h1>

{{{ message }}}

<br />

<button onclick="window.location.href = 'http://localhost:8080/'">Home</button>
<button onclick="history.back(-1)">Return</button>