{{> navigation }}

<div class="center-wrapper">

    <h1>The Periodic Table of Chemical Elements</h1>

    <h2>Description</h2>

    <p>Implementation of the Periodic Table as a web project.</p>

    <hr />

    <h2>Building</h2>

    <p>Pre-requisites: git, Node.js and npm.js installed on your system.</p>

    <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>
            <h3># Clone the repository</h3>
            git clone <a
                href="https://github.com/GiorgiBeriashvili/periodic-table">https://github.com/GiorgiBeriashvili/periodic-table</a>
            <br />
            cd periodic-table

            <h3># Install the dependencies</h3>
            npm install

            <h3># Run the server</h3>
            npm start
        </p>
    </blockquote>

    <hr>

    <h2>Dependencies</h2>

    <p><a href="https://github.com/GiorgiBeriashvili/periodic-table/blob/master/package.json" target="_blank"
            title="Project's package.json file">package.json</a> includes the software used to build the project.</p>

    <p>This project would not be possible without the data leveraged from these following repositories:</p>

    <ul>
        <li><a href="https://github.com/TamalAnwar/periodic-table">https://github.com/TamalAnwar/periodic-table</a> -
            for the HTML and CSS of the Periodic Table</li>
        <li><a
                href="https://github.com/Bowserinator/Periodic-Table-JSON">https://github.com/Bowserinator/Periodic-Table-JSON</a>
            - for the JSON respresentation of chemical element data
        </li>
    </ul>

    <hr>

    <h2>License</h2>

    <p>This project is licensed under:</p>

    <ul>
        <li> Apache License, Version 2.0
            <a href="https://github.com/GiorgiBeriashvili/periodic-table/blob/master/LICENSE"
                title="Copy of the Apache license (version 2.0)">LICENSE</a></li>
    </ul>
</div>