<header>
    <section>
        <h1>
            <img class="icon" src="assets/user.svg" alt="User icon"
                title="User icon maintained by https://feathericons.com" height="32" width="32"> - <strong>Giorgi
                Beriashvili</strong>
        </h1>
    </section>

    <aside>რა გვქონია, რა გვექნება...</aside>
</header>

<section>
    <h2><img class="icon" src="assets/cpu.svg" alt="CPU icon" title="CPU icon maintained by https://feathericons.com"
            height="32" width="32"> - Technology stack:</h2>
    <ul>
        <li>Python</li>
        <li>Rust</li>
    </ul>
</section>

<section>
    <h2>
        <img class="icon" src="assets/file-text.svg" alt="File text icon"
            title="File text icon maintained by https://feathericons.com" height="32" width="32"> - Design format:
    </h2>

    <p>
        The design is inspired by
        <a href="https://evenbettermotherfucking.website" alt="Even Better Motherfucking Website's homepage"
            title="Even Better Motherfucking Website" target="_blank">
            <em>this website.</em>
        </a>
    </p>
</section>

<hr />

<h2><strong><img class="icon" src="assets/external-link.svg" alt="External link icon"
            title="External link icon maintained by https://feathericons.com" height="32" width="32">
        -
        You can find me on:</strong></h2>
<footer>
    <a href="https://github.com/GiorgiBeriashvili" target="_blank"
        title="GitHub profile (icon maintained by https://feathericons.com)"><img src="assets/github.svg"
            alt="GitHub profile" height="64" width="64"></a>
</footer>