{{> navigation }}

<div class="center-wrapper">
    <form method="POST" action="/send-contact" id="contact-form">
        <div>
            <label for="name"><b>First name:</b></label>
            <input type="text" name="name" placeholder="John*" required>
        </div>

        <div>
            <label for="surname"><b>Last name:</b></label>
            <input type="text" name="surname" placeholder="Wick*" required>
        </div>

        <div>
            <label for="email"><b>E-mail:</b></label>
            <input type="email" name="email" placeholder="john.wick@example.com*" required>
        </div>

        <div>
            <label for="company"><b>Company:</b></label>
            <input type="text" name="company" placeholder="Continental">
        </div>

        <div>
            <label for="phone"><b>Phone:</b></label>
            <input type="tel" name="phone" placeholder="911">
        </div>

        <div>
            <label for="message"><b>Message:</b></label>
            <textarea name="message" placeholder="Art thou OK?*" required></textarea>
        </div>

        <br />

        <div class="button">
            <button type="button" id="submit-button" form="contact-form" onclick="fillContactForm()">Fill</button>
            <button type="button" id="submit-button" form="contact-form" onclick="clearContactForm()">Clear</button>
            <button type="submit" id="submit-button">Send</button>
        </div>
    </form>
</div>

<script src="/js/main.js" defer></script>