{{> navigation }}

<div class="table-center-wrapper">
    <div class="wrapper">
        <main>
            <header>
                <h1 id="title">The Periodic Table of Chemical Elements</h1>
            </header>
        </main>

        <div id="table">

            <div onclick="handleClick(this);" title="Hydrogen" class="element element-1 diatomic nonmetal ">
                <div class="number">1</div>
                <div class="symbol">H</div>
                <div class="element-name">Hydrogen</div>
            </div>

            <div onclick="handleClick(this);" title="Helium" class="element element-2 noble gas ">
                <div class="number">2</div>
                <div class="symbol">He</div>
                <div class="element-name">Helium</div>
            </div>

            <div onclick="handleClick(this);" title="Lithium" class="element element-3 alkali metal ">
                <div class="number">3</div>
                <div class="symbol">Li</div>
                <div class="element-name">Lithium</div>
            </div>

            <div onclick="handleClick(this);" title="Beryllium" class="element element-4 alkaline earth metal ">
                <div class="number">4</div>
                <div class="symbol">Be</div>
                <div class="element-name">Beryllium</div>
            </div>

            <div onclick="handleClick(this);" title="Boron" class="element element-5 metalloid ">
                <div class="number">5</div>
                <div class="symbol">B</div>
                <div class="element-name">Boron</div>
            </div>

            <div onclick="handleClick(this);" title="Carbon" class="element element-6 polyatomic nonmetal ">
                <div class="number">6</div>
                <div class="symbol">C</div>
                <div class="element-name">Carbon</div>
            </div>

            <div onclick="handleClick(this);" title="Nitrogen" class="element element-7 diatomic nonmetal ">
                <div class="number">7</div>
                <div class="symbol">N</div>
                <div class="element-name">Nitrogen</div>
            </div>

            <div onclick="handleClick(this);" title="Oxygen" class="element element-8 diatomic nonmetal ">
                <div class="number">8</div>
                <div class="symbol">O</div>
                <div class="element-name">Oxygen</div>
            </div>

            <div onclick="handleClick(this);" title="Fluorine" class="element element-9 diatomic nonmetal ">
                <div class="number">9</div>
                <div class="symbol">F</div>
                <div class="element-name">Fluorine</div>
            </div>

            <div onclick="handleClick(this);" title="Neon" class="element element-10 noble gas ">
                <div class="number">10</div>
                <div class="symbol">Ne</div>
                <div class="element-name">Neon</div>
            </div>

            <div onclick="handleClick(this);" title="Sodium" class="element element-11 alkali metal ">
                <div class="number">11</div>
                <div class="symbol">Na</div>
                <div class="element-name">Sodium</div>
            </div>

            <div onclick="handleClick(this);" title="Magnesium" class="element element-12 alkaline earth metal ">
                <div class="number">12</div>
                <div class="symbol">Mg</div>
                <div class="element-name">Magnesium</div>
            </div>

            <div onclick="handleClick(this);" title="Aluminium" class="element element-13 post-transition metal ">
                <div class="number">13</div>
                <div class="symbol">Al</div>
                <div class="element-name">Aluminium</div>
            </div>

            <div onclick="handleClick(this);" title="Silicon" class="element element-14 metalloid ">
                <div class="number">14</div>
                <div class="symbol">Si</div>
                <div class="element-name">Silicon</div>
            </div>

            <div onclick="handleClick(this);" title="Phosphorus" class="element element-15 polyatomic nonmetal ">
                <div class="number">15</div>
                <div class="symbol">P</div>
                <div class="element-name">Phosphorus</div>
            </div>

            <div onclick="handleClick(this);" title="Sulfur" class="element element-16 polyatomic nonmetal ">
                <div class="number">16</div>
                <div class="symbol">S</div>
                <div class="element-name">Sulfur</div>
            </div>

            <div onclick="handleClick(this);" title="Chlorine" class="element element-17 diatomic nonmetal ">
                <div class="number">17</div>
                <div class="symbol">Cl</div>
                <div class="element-name">Chlorine</div>
            </div>

            <div onclick="handleClick(this);" title="Argon" class="element element-18 noble gas ">
                <div class="number">18</div>
                <div class="symbol">Ar</div>
                <div class="element-name">Argon</div>
            </div>

            <div onclick="handleClick(this);" title="Potassium" class="element element-19 alkali metal ">
                <div class="number">19</div>
                <div class="symbol">K</div>
                <div class="element-name">Potassium</div>
            </div>

            <div onclick="handleClick(this);" title="Calcium" class="element element-20 alkaline earth metal ">
                <div class="number">20</div>
                <div class="symbol">Ca</div>
                <div class="element-name">Calcium</div>
            </div>

            <div onclick="handleClick(this);" title="Scandium" class="element element-21 transition metal ">
                <div class="number">21</div>
                <div class="symbol">Sc</div>
                <div class="element-name">Scandium</div>
            </div>

            <div onclick="handleClick(this);" title="Titanium" class="element element-22 transition metal ">
                <div class="number">22</div>
                <div class="symbol">Ti</div>
                <div class="element-name">Titanium</div>
            </div>

            <div onclick="handleClick(this);" title="Vanadium" class="element element-23 transition metal ">
                <div class="number">23</div>
                <div class="symbol">V</div>
                <div class="element-name">Vanadium</div>
            </div>

            <div onclick="handleClick(this);" title="Chromium" class="element element-24 transition metal ">
                <div class="number">24</div>
                <div class="symbol">Cr</div>
                <div class="element-name">Chromium</div>
            </div>

            <div onclick="handleClick(this);" title="Manganese" class="element element-25 transition metal ">
                <div class="number">25</div>
                <div class="symbol">Mn</div>
                <div class="element-name">Manganese</div>
            </div>

            <div onclick="handleClick(this);" title="Iron" class="element element-26 transition metal ">
                <div class="number">26</div>
                <div class="symbol">Fe</div>
                <div class="element-name">Iron</div>
            </div>

            <div onclick="handleClick(this);" title="Cobalt" class="element element-27 transition metal ">
                <div class="number">27</div>
                <div class="symbol">Co</div>
                <div class="element-name">Cobalt</div>
            </div>

            <div onclick="handleClick(this);" title="Nickel" class="element element-28 transition metal ">
                <div class="number">28</div>
                <div class="symbol">Ni</div>
                <div class="element-name">Nickel</div>
            </div>

            <div onclick="handleClick(this);" title="Copper" class="element element-29 transition metal ">
                <div class="number">29</div>
                <div class="symbol">Cu</div>
                <div class="element-name">Copper</div>
            </div>

            <div onclick="handleClick(this);" title="Zinc" class="element element-30 transition metal ">
                <div class="number">30</div>
                <div class="symbol">Zn</div>
                <div class="element-name">Zinc</div>
            </div>

            <div onclick="handleClick(this);" title="Gallium" class="element element-31 post-transition metal ">
                <div class="number">31</div>
                <div class="symbol">Ga</div>
                <div class="element-name">Gallium</div>
            </div>

            <div onclick="handleClick(this);" title="Germanium" class="element element-32 metalloid ">
                <div class="number">32</div>
                <div class="symbol">Ge</div>
                <div class="element-name">Germanium</div>
            </div>

            <div onclick="handleClick(this);" title="Arsenic" class="element element-33 metalloid ">
                <div class="number">33</div>
                <div class="symbol">As</div>
                <div class="element-name">Arsenic</div>
            </div>

            <div onclick="handleClick(this);" title="Selenium" class="element element-34 polyatomic nonmetal ">
                <div class="number">34</div>
                <div class="symbol">Se</div>
                <div class="element-name">Selenium</div>
            </div>

            <div onclick="handleClick(this);" title="Bromine" class="element element-35 diatomic nonmetal ">
                <div class="number">35</div>
                <div class="symbol">Br</div>
                <div class="element-name">Bromine</div>
            </div>

            <div onclick="handleClick(this);" title="Krypton" class="element element-36 noble gas ">
                <div class="number">36</div>
                <div class="symbol">Kr</div>
                <div class="element-name">Krypton</div>
            </div>

            <div onclick="handleClick(this);" title="Rubidium" class="element element-37 alkali metal ">
                <div class="number">37</div>
                <div class="symbol">Rb</div>
                <div class="element-name">Rubidium</div>
            </div>

            <div onclick="handleClick(this);" title="Strontium" class="element element-38 alkaline earth metal ">
                <div class="number">38</div>
                <div class="symbol">Sr</div>
                <div class="element-name">Strontium</div>
            </div>

            <div onclick="handleClick(this);" title="Yttrium" class="element element-39 transition metal ">
                <div class="number">39</div>
                <div class="symbol">Y</div>
                <div class="element-name">Yttrium</div>
            </div>

            <div onclick="handleClick(this);" title="Zirconium" class="element element-40 transition metal ">
                <div class="number">40</div>
                <div class="symbol">Zr</div>
                <div class="element-name">Zirconium</div>
            </div>

            <div onclick="handleClick(this);" title="Niobium" class="element element-41 transition metal ">
                <div class="number">41</div>
                <div class="symbol">Nb</div>
                <div class="element-name">Niobium</div>
            </div>

            <div onclick="handleClick(this);" title="Molybdenum" class="element element-42 transition metal ">
                <div class="number">42</div>
                <div class="symbol">Mo</div>
                <div class="element-name">Molybdenum</div>
            </div>

            <div onclick="handleClick(this);" title="Technetium" class="element element-43 transition metal ">
                <div class="number">43</div>
                <div class="symbol">Tc</div>
                <div class="element-name">Technetium</div>
            </div>

            <div onclick="handleClick(this);" title="Ruthenium" class="element element-44 transition metal ">
                <div class="number">44</div>
                <div class="symbol">Ru</div>
                <div class="element-name">Ruthenium</div>
            </div>

            <div onclick="handleClick(this);" title="Rhodium" class="element element-45 transition metal ">
                <div class="number">45</div>
                <div class="symbol">Rh</div>
                <div class="element-name">Rhodium</div>
            </div>

            <div onclick="handleClick(this);" title="Palladium" class="element element-46 transition metal ">
                <div class="number">46</div>
                <div class="symbol">Pd</div>
                <div class="element-name">Palladium</div>
            </div>

            <div onclick="handleClick(this);" title="Silver" class="element element-47 transition metal ">
                <div class="number">47</div>
                <div class="symbol">Ag</div>
                <div class="element-name">Silver</div>
            </div>

            <div onclick="handleClick(this);" title="Cadmium" class="element element-48 transition metal ">
                <div class="number">48</div>
                <div class="symbol">Cd</div>
                <div class="element-name">Cadmium</div>
            </div>

            <div onclick="handleClick(this);" title="Indium" class="element element-49 post-transition metal ">
                <div class="number">49</div>
                <div class="symbol">In</div>
                <div class="element-name">Indium</div>
            </div>

            <div onclick="handleClick(this);" title="Tin" class="element element-50 post-transition metal ">
                <div class="number">50</div>
                <div class="symbol">Sn</div>
                <div class="element-name">Tin</div>
            </div>

            <div onclick="handleClick(this);" title="Antimony" class="element element-51 metalloid ">
                <div class="number">51</div>
                <div class="symbol">Sb</div>
                <div class="element-name">Antimony</div>
            </div>

            <div onclick="handleClick(this);" title="Tellurium" class="element element-52 metalloid ">
                <div class="number">52</div>
                <div class="symbol">Te</div>
                <div class="element-name">Tellurium</div>
            </div>

            <div onclick="handleClick(this);" title="Iodine" class="element element-53 diatomic nonmetal ">
                <div class="number">53</div>
                <div class="symbol">I</div>
                <div class="element-name">Iodine</div>
            </div>

            <div onclick="handleClick(this);" title="Xenon" class="element element-54 noble gas ">
                <div class="number">54</div>
                <div class="symbol">Xe</div>
                <div class="element-name">Xenon</div>
            </div>

            <div onclick="handleClick(this);" title="Cesium" class="element element-55 alkali metal ">
                <div class="number">55</div>
                <div class="symbol">Cs</div>
                <div class="element-name">Cesium</div>
            </div>

            <div onclick="handleClick(this);" title="Barium" class="element element-56 alkaline earth metal ">
                <div class="number">56</div>
                <div class="symbol">Ba</div>
                <div class="element-name">Barium</div>
            </div>

            <div onclick="handleClick(this);" title="Lanthanum" class="element element-57 lanthanide ">
                <div class="number">57</div>
                <div class="symbol">La</div>
                <div class="element-name">Lanthanum</div>
            </div>

            <div onclick="handleClick(this);" title="Hafnium" class="element element-72 transition metal ">
                <div class="number">72</div>
                <div class="symbol">Hf</div>
                <div class="element-name">Hafnium</div>
            </div>

            <div onclick="handleClick(this);" title="Tantalum" class="element element-73 transition metal ">
                <div class="number">73</div>
                <div class="symbol">Ta</div>
                <div class="element-name">Tantalum</div>
            </div>

            <div onclick="handleClick(this);" title="Tungsten" class="element element-74 transition metal ">
                <div class="number">74</div>
                <div class="symbol">W</div>
                <div class="element-name">Tungsten</div>
            </div>

            <div onclick="handleClick(this);" title="Rhenium" class="element element-75 transition metal ">
                <div class="number">75</div>
                <div class="symbol">Re</div>
                <div class="element-name">Rhenium</div>
            </div>

            <div onclick="handleClick(this);" title="Osmium" class="element element-76 transition metal ">
                <div class="number">76</div>
                <div class="symbol">Os</div>
                <div class="element-name">Osmium</div>
            </div>

            <div onclick="handleClick(this);" title="Iridium" class="element element-77 transition metal ">
                <div class="number">77</div>
                <div class="symbol">Ir</div>
                <div class="element-name">Iridium</div>
            </div>

            <div onclick="handleClick(this);" title="Platinum" class="element element-78 transition metal ">
                <div class="number">78</div>
                <div class="symbol">Pt</div>
                <div class="element-name">Platinum</div>
            </div>

            <div onclick="handleClick(this);" title="Gold" class="element element-79 transition metal ">
                <div class="number">79</div>
                <div class="symbol">Au</div>
                <div class="element-name">Gold</div>
            </div>

            <div onclick="handleClick(this);" title="Mercury" class="element element-80 transition metal ">
                <div class="number">80</div>
                <div class="symbol">Hg</div>
                <div class="element-name">Mercury</div>
            </div>

            <div onclick="handleClick(this);" title="Thallium" class="element element-81 post-transition metal ">
                <div class="number">81</div>
                <div class="symbol">Tl</div>
                <div class="element-name">Thallium</div>
            </div>

            <div onclick="handleClick(this);" title="Lead" class="element element-82 post-transition metal ">
                <div class="number">82</div>
                <div class="symbol">Pb</div>
                <div class="element-name">Lead</div>
            </div>

            <div onclick="handleClick(this);" title="Bismuth" class="element element-83 post-transition metal ">
                <div class="number">83</div>
                <div class="symbol">Bi</div>
                <div class="element-name">Bismuth</div>
            </div>

            <div onclick="handleClick(this);" title="Polonium" class="element element-84 post-transition metal ">
                <div class="number">84</div>
                <div class="symbol">Po</div>
                <div class="element-name">Polonium</div>
            </div>

            <div onclick="handleClick(this);" title="Astatine" class="element element-85 metalloid ">
                <div class="number">85</div>
                <div class="symbol">At</div>
                <div class="element-name">Astatine</div>
            </div>

            <div onclick="handleClick(this);" title="Radon" class="element element-86 noble gas ">
                <div class="number">86</div>
                <div class="symbol">Rn</div>
                <div class="element-name">Radon</div>
            </div>

            <div onclick="handleClick(this);" title="Francium" class="element element-87 alkali metal ">
                <div class="number">87</div>
                <div class="symbol">Fr</div>
                <div class="element-name">Francium</div>
            </div>

            <div onclick="handleClick(this);" title="Radium" class="element element-88 alkaline earth metal ">
                <div class="number">88</div>
                <div class="symbol">Ra</div>
                <div class="element-name">Radium</div>
            </div>

            <div onclick="handleClick(this);" title="Actinium" class="element element-89 actinide ">
                <div class="number">89</div>
                <div class="symbol">Ac</div>
                <div class="element-name">Actinium</div>
            </div>

            <div onclick="handleClick(this);" title="Rutherfordium" class="element element-104 transition metal ">
                <div class="number">104</div>
                <div class="symbol">Rf</div>
                <div class="element-name">Rutherfordium</div>
            </div>

            <div onclick="handleClick(this);" title="Dubnium" class="element element-105 transition metal ">
                <div class="number">105</div>
                <div class="symbol">Db</div>
                <div class="element-name">Dubnium</div>
            </div>

            <div onclick="handleClick(this);" title="Seaborgium" class="element element-106 transition metal ">
                <div class="number">106</div>
                <div class="symbol">Sg</div>
                <div class="element-name">Seaborgium</div>
            </div>

            <div onclick="handleClick(this);" title="Bohrium" class="element element-107 transition metal ">
                <div class="number">107</div>
                <div class="symbol">Bh</div>
                <div class="element-name">Bohrium</div>
            </div>

            <div onclick="handleClick(this);" title="Hassium" class="element element-108 transition metal ">
                <div class="number">108</div>
                <div class="symbol">Hs</div>
                <div class="element-name">Hassium</div>
            </div>

            <div onclick="handleClick(this);" title="Meitnerium" class="element element-109 unknown ">
                <div class="number">109</div>
                <div class="symbol">Mt</div>
                <div class="element-name">Meitnerium</div>
            </div>

            <div onclick="handleClick(this);" title="Darmstadtium" class="element element-110 unknown ">
                <div class="number">110</div>
                <div class="symbol">Ds</div>
                <div class="element-name">Darmstadtium</div>
            </div>

            <div onclick="handleClick(this);" title="Roentgenium" class="element element-111 unknown ">
                <div class="number">111</div>
                <div class="symbol">Rg</div>
                <div class="element-name">Roentgenium</div>
            </div>

            <div onclick="handleClick(this);" title="Copernicium" class="element element-112 transition metal ">
                <div class="number">112</div>
                <div class="symbol">Cn</div>
                <div class="element-name">Copernicium</div>
            </div>

            <div onclick="handleClick(this);" title="Nihonium" class="element element-113 unknown ">
                <div class="number">113</div>
                <div class="symbol">Nh</div>
                <div class="element-name">Nihonium</div>
            </div>

            <div onclick="handleClick(this);" title="Flerovium" class="element element-114 post-transition metal ">
                <div class="number">114</div>
                <div class="symbol">Fl</div>
                <div class="element-name">Flerovium</div>
            </div>

            <div onclick="handleClick(this);" title="Moscovium" class="element element-115 unknown ">
                <div class="number">115</div>
                <div class="symbol">Mc</div>
                <div class="element-name">Moscovium</div>
            </div>

            <div onclick="handleClick(this);" title="Livermorium" class="element element-116 unknown ">
                <div class="number">116</div>
                <div class="symbol">Lv</div>
                <div class="element-name">Livermorium</div>
            </div>

            <div onclick="handleClick(this);" title="Tennessine" class="element element-117 unknown ">
                <div class="number">117</div>
                <div class="symbol">Ts</div>
                <div class="element-name">Tennessine</div>
            </div>

            <div onclick="handleClick(this);" title="Oganesson" class="element element-118 unknown ">
                <div class="number">118</div>
                <div class="symbol">Og</div>
                <div class="element-name">Oganesson</div>
            </div>

            <div onclick="handleClick(this);" title="Ununennium" class="element element-119 unknown ">
                <div class="number">119</div>
                <div class="symbol">Uue</div>
                <div class="element-name">Ununennium</div>
            </div>

            <div onclick="handleClick(this);" title="Cerium" class="element element-58 lanthanide ">
                <div class="number">58</div>
                <div class="symbol">Ce</div>
                <div class="element-name">Cerium</div>
            </div>

            <div onclick="handleClick(this);" title="Praseodymium" class="element element-59 lanthanide ">
                <div class="number">59</div>
                <div class="symbol">Pr</div>
                <div class="element-name">Praseodymium</div>
            </div>

            <div onclick="handleClick(this);" title="Neodymium" class="element element-60 lanthanide ">
                <div class="number">60</div>
                <div class="symbol">Nd</div>
                <div class="element-name">Neodymium</div>
            </div>

            <div onclick="handleClick(this);" title="Promethium" class="element element-61 lanthanide ">
                <div class="number">61</div>
                <div class="symbol">Pm</div>
                <div class="element-name">Promethium</div>
            </div>

            <div onclick="handleClick(this);" title="Samarium" class="element element-62 lanthanide ">
                <div class="number">62</div>
                <div class="symbol">Sm</div>
                <div class="element-name">Samarium</div>
            </div>

            <div onclick="handleClick(this);" title="Europium" class="element element-63 lanthanide ">
                <div class="number">63</div>
                <div class="symbol">Eu</div>
                <div class="element-name">Europium</div>
            </div>

            <div onclick="handleClick(this);" title="Gadolinium" class="element element-64 lanthanide ">
                <div class="number">64</div>
                <div class="symbol">Gd</div>
                <div class="element-name">Gadolinium</div>
            </div>

            <div onclick="handleClick(this);" title="Terbium" class="element element-65 lanthanide ">
                <div class="number">65</div>
                <div class="symbol">Tb</div>
                <div class="element-name">Terbium</div>
            </div>

            <div onclick="handleClick(this);" title="Dysprosium" class="element element-66 lanthanide ">
                <div class="number">66</div>
                <div class="symbol">Dy</div>
                <div class="element-name">Dysprosium</div>
            </div>

            <div onclick="handleClick(this);" title="Holmium" class="element element-67 lanthanide ">
                <div class="number">67</div>
                <div class="symbol">Ho</div>
                <div class="element-name">Holmium</div>
            </div>

            <div onclick="handleClick(this);" title="Erbium" class="element element-68 lanthanide ">
                <div class="number">68</div>
                <div class="symbol">Er</div>
                <div class="element-name">Erbium</div>
            </div>

            <div onclick="handleClick(this);" title="Thulium" class="element element-69 lanthanide ">
                <div class="number">69</div>
                <div class="symbol">Tm</div>
                <div class="element-name">Thulium</div>
            </div>

            <div onclick="handleClick(this);" title="Ytterbium" class="element element-70 lanthanide ">
                <div class="number">70</div>
                <div class="symbol">Yb</div>
                <div class="element-name">Ytterbium</div>
            </div>

            <div onclick="handleClick(this);" title="Lutetium" class="element element-71 lanthanide ">
                <div class="number">71</div>
                <div class="symbol">Lu</div>
                <div class="element-name">Lutetium</div>
            </div>

            <div onclick="handleClick(this);" title="Thorium" class="element element-90 actinide ">
                <div class="number">90</div>
                <div class="symbol">Th</div>
                <div class="element-name">Thorium</div>
            </div>

            <div onclick="handleClick(this);" title="Protactinium" class="element element-91 actinide ">
                <div class="number">91</div>
                <div class="symbol">Pa</div>
                <div class="element-name">Protactinium</div>
            </div>

            <div onclick="handleClick(this);" title="Uranium" class="element element-92 actinide ">
                <div class="number">92</div>
                <div class="symbol">U</div>
                <div class="element-name">Uranium</div>
            </div>

            <div onclick="handleClick(this);" title="Neptunium" class="element element-93 actinide ">
                <div class="number">93</div>
                <div class="symbol">Np</div>
                <div class="element-name">Neptunium</div>
            </div>

            <div onclick="handleClick(this);" title="Plutonium" class="element element-94 actinide ">
                <div class="number">94</div>
                <div class="symbol">Pu</div>
                <div class="element-name">Plutonium</div>
            </div>

            <div onclick="handleClick(this);" title="Americium" class="element element-95 actinide ">
                <div class="number">95</div>
                <div class="symbol">Am</div>
                <div class="element-name">Americium</div>
            </div>

            <div onclick="handleClick(this);" title="Curium" class="element element-96 actinide ">
                <div class="number">96</div>
                <div class="symbol">Cm</div>
                <div class="element-name">Curium</div>
            </div>

            <div onclick="handleClick(this);" title="Berkelium" class="element element-97 actinide ">
                <div class="number">97</div>
                <div class="symbol">Bk</div>
                <div class="element-name">Berkelium</div>
            </div>

            <div onclick="handleClick(this);" title="Californium" class="element element-98 actinide ">
                <div class="number">98</div>
                <div class="symbol">Cf</div>
                <div class="element-name">Californium</div>
            </div>

            <div onclick="handleClick(this);" title="Einsteinium" class="element element-99 actinide ">
                <div class="number">99</div>
                <div class="symbol">Es</div>
                <div class="element-name">Einsteinium</div>
            </div>

            <div onclick="handleClick(this);" title="Fermium" class="element element-100 actinide ">
                <div class="number">100</div>
                <div class="symbol">Fm</div>
                <div class="element-name">Fermium</div>
            </div>

            <div onclick="handleClick(this);" title="Mendelevium" class="element element-101 actinide ">
                <div class="number">101</div>
                <div class="symbol">Md</div>
                <div class="element-name">Mendelevium</div>
            </div>

            <div onclick="handleClick(this);" title="Nobelium" class="element element-102 actinide ">
                <div class="number">102</div>
                <div class="symbol">No</div>
                <div class="element-name">Nobelium</div>
            </div>

            <div onclick="handleClick(this);" title="Lawrencium" class="element element-103 actinide ">
                <div class="number">103</div>
                <div class="symbol">Lr</div>
                <div class="element-name">Lawrencium</div>
            </div>
        </div>
    </div>
</div>

<script src="/js/main.js" defer></script>