<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="author" content="Giorgi Beriashvili">
    <meta name="description"
        content="The periodic table of elements, depicting chemical elements, arranged by atomic number, electron configuration, and recurring chemical properties.">
    <meta name="keywords" content="beginner-friendly, chemistry, open-source, periodic-table">
    {{#each script}}
    <script src="{{ this }}"></script>
    {{/each}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
</head>

<body>
    {{{ body }}}
</body>

</html>