<div>
    <header>
        <nav id="navbar">
            <a href="/">Home</a>
            <a href="/statistics">Statistics</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/author">Author</a>
        </nav>
    </header>

    <hr />
</div>